<div class="row articles">
  <div class="col-lg-12">
    <div class="progresser navbar-fixed-top">
      <timer interval="1000" countdown="1800">
        <div class="progress progress-striped active">
          <div class="progress-bar" role="progressbar" style="width: {{ (seconds / 60)*100}}%"></div>
        </div>
      </timer>
    </div>
    <div class="container slider">
      <div class="article slide nonDraggableImage" ng-repeat="slide in slides" ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()" ng-hide="!isCurrentSlideIndex($index)">
        <div class="title">
          <h1>{{ slide.title }}</h1>
        </div>
        <p class="lead summation">
          {{ slide.summary }}
        </p>
      </div>

      <div class="slider-actions navbar-fixed-bottom" style="margin-bottom: 80px">
        <a class="arrow prev" ng-click="nextSlide()"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="arrow next" ng-click="prevSlide()"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div>
</div>