<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#/welcome/#">TimeUP</a>
    </div>
    <div class=".col-sm-10 .col-sm-offset-2">
      <ul class="nav nav-pills pull-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li> -->
        <li><a href="#/articles/#">BEGIN <span class="glyphicon glyphicon-play-circle"></span></a></li>
        <!-- <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li> -->
        <li><a href="#/settings/#"><span class="glyphicon glyphicon-cog"></span></a></li>
      </ul>
    </div>
  </div>
</div>