<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <a class="navbar-brand" href="/">TimeUP</a>
    <div class="navbar col-lg-4">
      <ul class="nav nav-pills pull-right">
        <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li><a href="#/articles">Start</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>

        <li><a href="#/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
      </ul>
    </div>
  </div>
</div>
